/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-button {
  
  color: #FFFFFF;
  font-family: 'Black';
  background-color: #EAEAEA;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  padding-bottom: 2.5px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.google-button:hover {
  background-color: #424242;
}

.google-button:focus {
  background-color: #424242;
  outline: 2px solid #CCCCCC;
  border: 4px solid #CCCCCC;
}

.google-button:focus:hover {
  background-color: #424242;
}

.dark .google-button {
  background-color: #424242;
}

.dark .google-button:hover {
  background-color: #424242;
}

.dark .google-button:focus {
  background-color: #424242;
  outline: 2px solid #CCCCCC;
  border: 4px solid #CCCCCC;
}

.dark .google-button:focus:hover {
  background-color: #424242;
}