/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can override the default Infima variables here. */
:root {
  background: #020617;
  --ifm-color-primary: #3578e5; /*#25c2a0;*/
  --ifm-color-primary-dark: #1d68e1; /*rgb(33, 175, 144);*/
  --ifm-color-primary-darker: #1b62d4; /*rgb(31, 165, 136);*/
  --ifm-color-primary-darkest: #1751af; /*rgb(26, 136, 112);*/
  --ifm-color-primary-light: #4e89e8; /*rgb(70, 203, 174);*/
  --ifm-color-primary-lighter: #5a91ea; /*rgb(102, 212, 189);*/
  --ifm-color-primary-lightest: #80aaef; /*rgb(146, 224, 208);*/
  --ifm-code-font-size: 90%; /*95%;*/
}

.navbar {
  background-color: black;
}

.footer {
  background-color: black;
}

pre code {
  background-color: black;
  border: none;
  font-size: 100%;
  line-height: inherit;
  padding: 0;
}
/* 

.google-button {
  color: #ffffff;
  font-family: "Black";
  background-color: #eaeaea;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  padding: 5px;
  padding-bottom: 2.5px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.google-button:hover {
  background-color: #424242;
}

.google-button:focus {
  background-color: #424242;
  outline: 2px solid #cccccc;
  border: 4px solid #cccccc;
}

.google-button:focus:hover {
  background-color: #424242;
}

.google-button {
  background-color: #424242;
}

.google-button:hover {
  background-color: #424242;
}

.google-button:focus {
  background-color: #424242;
  outline: 2px solid #cccccc;
  border: 4px solid #cccccc;
}

.google-button:focus:hover {
  background-color: #424242;
} */
